footer {
  @include padding($spacer * 2 0);
  &::before {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    content: "";
    background-image: url("../images/heart-logo-black.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .disclaimer {
    font-size: $sub-sup-font-size;
    text-align: center;
    a {
      color: $black;
    }
  }
}
