$fa-font-path: "../fonts" !default;
$btn-border-radius: 0;
$btn-border-width: 5px;
$btn-border-shade-amount: 5%;
$btn-border-tint-amount: 5%;
$font-weight-black: 900;
$font-family-base: "Gilroy";
$navbar-padding-y: 1.5rem;
$body-color: #818284;
$headings-color: #000;

// Grid breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
);

// Grid containers
$container-max-widths: (
  xs: 100%,
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
  xxxl: 1510px
);
