@import "https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap";
@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/Gilroy-Light.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Gilroy-Regular.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Gilroy-Medium.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Gilroy-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Gilroy-Bold.otf") format("opentype");
}

@font-face {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/Gilroy-Black.otf") format("opentype");
}
